<h1 class="mx-4 mt-3">¡Bienvenido! ingresa tu email y contraseña para ingresar.</h1>
<form action="/login" method="post" class="mx-4 mt-3">
  <div class="mb-3">
    <label for="userInput" class="form-label">Email</label>
    <input type="email" class="form-control" id="userInput" aria-describedby="emailHelp" name="username">
        <label for="passwordInput" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="passwordInput" aria-describedby="emailHelp" name="password">
  </div>
  <button class="btn btn-primary">Logearse</button>
</form>
  <button class="btn btn-primary mx-4 mt-3" onclick = window.location.href='/register';>Ir a registrarse =></button>

