<h1 class="mx-4 mt-3">¡Bienvenido! ingresa tu usuario</h1>
<form action="" method="GET" class="mx-4 mt-3">
  <div class="mb-3">
    <label for="userInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="userInput" aria-describedby="emailHelp" name="user">
  </div>
  <button class="btn btn-primary">Agregar usuario</button>
</form>
