{{!-- Tabla de productos con faker --}}
<h1 class="mt-5 mx-4">Productos</h1>
<table class="table table-striped mx-4 mt-3">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">illustracion</th>
    </tr>
  </thead>
  <tbody id="tablaProductos">
</table>


<script src="../mainFaker.js"></script>